@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,100;1,300;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Global; ------------------------------------------------------------------------------------------- */

* {
  font-family: "Open Sans", Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

#body {
  position: relative;
  overflow-x: hidden;
  background: #c46f00;
}

/* Header Page; ------------------------------------------------------------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  overflow-x: hidden;
  max-width: 78em;
}

#list-navbar {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 10px;
  width: 100%;
  overflow: hidden;
}

#list-navbar li {
  position: relative;
}

#list-navbar li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  position: relative;
}

#list-navbar li a:hover {
  color: #0000ff;
  transition: all 0.5s ease;
}

#list-navbar li a::after {
  content: " ";
  width: 0%;
  height: 4px;
  position: absolute;
  left: 5px;
  bottom: -15px;
  background-color: #0000ff;
  transition: 0.5s ease-in-out;
}

#list-navbar li a:hover::after {
  width: 90%;
}

.color-world {
  color: #0000ff;
}

#logo a {
  color: #fff;
  font-weight: bold;
  margin: 0px;
  text-decoration: none;
  margin-left: 30px;
}

#logo:hover {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  #logo {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 30px;
  }
}

/* Home Page; ------------------------------------------------------------------------------------------- */

#home {
  max-width: 90vw;
  height: 100vh;
  overflow-x: hidden;
}

#media-center {
  max-width: 80em;
  height: 50%;
  margin: auto;
  position: relative;
}

.bi-arrow-90deg-up {
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 1;
  border-radius: 50%;
}

#container-text-iam {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  text-align: left;
  margin: 100px auto;
  margin-top: 130px;
}

#titulo {
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  font-style: italic;
}

.sub-title {
  display: flex;
  color: #fff;
  font-style: italic;
}

.text-typing {
  color: #051e50;
  width: 0;
  padding-left: 10px;
  border-right: 1px solid #fff;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 500ms infinite normal,
    typing 4s 1s alternate-reverse infinite;
}

@keyframes typing {
  from {
    width: 10px;
  }

  to {
    width: 230px;
  }
}

@keyframes blinkCursor {
  from {
    border-right: 1px solid #fff;
  }

  to {
    border-right: transparent;
  }
}

#container-icons {
  position: absolute;
  font-size: 25px;
  left: 60px;
  top: 150px;
}

#container-icons a {
  text-decoration: none;
}

#container-icons a i {
  padding: 10px;
  color: #ffffff;
}

#container-icons i:hover {
  transition: all 0.5s all;
  transform: translateY(-10%);
  color: #0000ff;
  border-radius: 50%;
  padding: 10px;
}

.btn-contate {
  position: absolute;
  width: 250px;
  top: 210px;
  left: 30px;
}

.btn-contate:hover {
  letter-spacing: 5px;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px #0000006c;
}

#photo {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 310px;
  border-radius: 50%;
  transform: translate(-15%, -65%);
  animation: photoAnimation 3.5s linear alternate-reverse infinite;
}

@keyframes photoAnimation {
  from {
    top: 100px;
  }

  to {
    top: 130px;
  }
}

.copy-ia {
  position: absolute;
  font-size: 10px;
  color: #fff;
  font-style: italic;
  right: 200px;
  animation: copyAnimation 3.5s linear alternate-reverse infinite;
}

@keyframes copyAnimation {
  from {
    top: 240px;
  }

  to {
    top: 260px;
  }
}

#btn-menu {
  display: none;
}

/* Responsive HOME; */
@media screen and (max-width: 768px) {
  #home {
    height: 100vh;
  }

  #container-text-iam {
    width: 100%;
    margin: 90px auto;
    display: block;
    text-align: center;
  }

  h3,
  h4 {
    margin-left: 30px;
    font-size: 25px;
  }

  #container-icons {
    top: 240px;
    left: 18%;
  }

  .btn-contate {
    width: 200px;
    top: 340px;
    left: 18%;
  }

  .hello {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  .iam {
    margin: auto;
    white-space: nowrap;
    display: block;
  }

  .text-typing {
    display: block;
    margin-left: 21%;
  }

  @keyframes typing {
    from {
      width: 0px;
    }

    to {
      width: 200px;
    }
  }
}

@media screen and (max-width: 992px) {
  #btn-menu {
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    cursor: pointer;
    width: 0%;
    top: 10px;
    right: 85px;
    border: none;
    background: none;
    color: #fff;
    font-size: 35px;
    z-index: 2;
    transform: translateY(-15%);
  }

  #navbar {
    transform: translateX(-300%);
    display: none;
  }

  #navbar.none {
    transform: translateX(-300%);
    display: none;
  }

  .active {
    overflow: hidden;
  }

  #navbar.active {
    display: block;
    transform: translateX(-40%);
    animation: menuInside 0.5s ease;
    background-color: #000000;
    padding: 10px;
    width: 120vw;
    height: 120vh;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 0;
  }

  #list-navbar {
    display: block;
    text-align: center;
    margin: 15% 15%;
  }

  #list-navbar li {
    display: block;
    padding: 10px;
    white-space: nowrap;
    font-size: 1.5em;
  }

  @keyframes menuInside {
    from {
      transform: translateX(-300%);
    }

    to {
      transform: translateX(-50%);
    }
  }

  #photo {
    display: none;
  }

  .copy-ia {
    display: none;
  }
}

/* Sobre Mim; ------------------------------------------------------------------------------------------- */

#sobre-mim {
  background-color: #fff;
  overflow-x: hidden;
  padding-bottom: 100px;
  height: 100%;
}

.container-indent {
  position: relative;
}

.display-sobremim {
  font-style: italic;
}

.display-sobremim::after {
  content: "___Quem sou eu___";
  position: absolute;
  left: 0;
  right: 0;
  color: #000;
  display: block;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-typing {
  color: #072d79;
  font-size: 30px;
  width: 0;
  padding-left: 10px;
  border-right: 1px solid #fff;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor2 500ms infinite normal,
    typing2 4s 1s alternate-reverse infinite;
}

@keyframes typing2 {
  from {
    width: 10px;
  }

  to {
    width: 350px;
  }
}

@keyframes blinkCursor2 {
  from {
    border-right: 1px solid #000000;
  }

  to {
    border-right: transparent;
  }
}

.paragraphy {
  position: relative;
  padding: 20px;
  color: #000;
  text-align: justify;
}

strong {
  font-style: italic;
}

.btn-cv {
  position: absolute;
  padding-left: 0;
  left: 7%;
  bottom: -30%;
  text-indent: 15px;
}

.photo {
  width: 350px;
}

/* Responsive Sobre Mim; */
@media screen and (max-width: 768px) {
  #sobre-mim {
    height: 100%;
  }

  .section-two {
    display: block;
  }

  .photo {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @keyframes typing2 {
    from {
      width: 10px;
    }

    to {
      width: 270px;
    }
  }

  .paragraphy {
    display: block;
    margin: auto;
  }

  .btn-cv {
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 992px) {
  .section-two {
    flex-direction: column;
  }

  .photo {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .about-typing {
    font-size: 20px;
  }

  @keyframes typing2 {
    from {
      width: 0px;
    }

    to {
      width: 250px;
    }
  }

  .display-sobremim {
    font-size: 25px;
  }

  .display-sobremim::after {
    font-size: 20px;
  }
}

/* Tecnologias; ------------------------------------------------------------------------------------------- */

#tecnologias {
  background-color: #000;
  height: 100%;
  overflow-x: hidden;
}

.display-tech {
  color: #fff;
  font-style: italic;
}

.display-tech::after {
  content: "___Que utilizo___";
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  display: block;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.card-techs {
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  padding: 100px 0;
  margin: auto;
  height: 200px;
  width: 200px;
}

.card-techs:hover {
  background-color: #051e50;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.card-techs-text {
  transform: translateY(-50%);
}

.card-techs:hover .fa-github {
  color: #000;
}

.card-techs:hover .fa-git-alt {
  color: #e84d31;
}

.card-techs:hover .fa-css3-alt {
  color: #0000ff;
}

.card-techs:hover .fa-html5 {
  color: #dd4b25;
}

.card-techs:hover .fa-bootstrap {
  color: #8411f6;
}

.card-techs:hover .fa-square-js {
  color: #efd81d;
}

/* Responsive Tech; */

@media screen and (max-width: 768px) {
  #tecnologias {
    height: 100%;
  }
}

@media screen and (max-width: 576px) {
  .display-tech::after {
    font-size: 20px;
  }
}

/* Projetos; ------------------------------------------------------------------------------------------- */

#projetos {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.section-three {
  position: relative;
}

.display-projetos {
  font-style: italic;
}

.display-projetos::after {
  content: "___Apl. Conhecimentos___";
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  display: block;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.card {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  /* box-shadow: 3px 0px 10px #c46f00e1; */
  padding: 40px;
  margin: auto;
  height: 170px;
  width: 300px;
}

.card:hover {
  background-color: #051e50;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.card-text > i {
  font-size: 35px;
}

.card-projetos {
  height: 100%;
  color: #000;
}

.card .btn-outline-primary:hover i {
  transform: translateY(-20%);
  transition: all 0.3s ease;
  color: #fff;
}

.projetos-img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.btn-git {
  display: block;
  margin: auto;
  background-color: #051e50;
  color: #fff;
}

.btn-git:hover {
  background-color: currentColor;
  color: #051e50;
  border: 1px solid #051e50;
}

/* Responsive Projetos; */

@media screen and (max-width: 768px) {
  #projetos {
    height: 100%;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 80%;
    margin: auto 20px auto 20px;
  }

  .display-projetos::after {
    font-size: 15px;
  }
}

/* Habilidades; ------------------------------------------------------------------------------------------- */

#skills {
  background-color: #fff;
  position: relative;
  color: #000;
  height: 100%;
  margin-bottom: -10px;
  overflow-x: hidden;
}

.display-skills {
  font-style: italic;
}

.display-skills::after {
  content: "___Conquistadas___";
  position: absolute;
  left: 0;
  right: 0;
  color: #000;
  display: block;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.resumo-skills {
  width: 80%;
  margin: 10px 5%;
  padding: 20px;
}

.slide {
  position: relative;
  width: 100%;
  margin: 10px -5% 30px -5%;
  padding: 20px;
  background: #222;
  border-radius: 10px;
}

/* Background Effect */

/* END BBACKGROUND */

.carousel-item {
  color: #fff;
  font-weight: bold;
  padding: 100px;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.carousel-item h5 {
  font-weight: bolder;
}

.pr- {
  position: relative;
}

.about-more {
  width: 90%;
  margin: 130px auto;
  display: block;
}

.carousel-control-next-icon {
  color: #000;
  height: 50vh;
}

.carousel-control-prev,
.carousel-control-next {
  color: #000;
  font-weight: bolder;
}

/* Responsive Skills; */
@media screen and (max-width: 768px) {
  #skills {
    height: 100%;
  }

  .section-five {
    flex-direction: column;
    margin-left: 0;
  }

  .section-five div {
    margin-left: -10px;
  }

  .invisible-container {
    height: 80vh;
    width: 100%;
    opacity: 0;
  }

  .slide {
    position: absolute;
    top: 390px;
    left: -15px;
    margin-top: 70px;
  }

  .title-card {
    padding-top: 10px;
  }

  .carousel-item {
    position: relative;
    background-color: #7a7a7a;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    height: 520px;
    border-radius: 0px;
    margin-left: -50%;
    margin-top: 50px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0;
  }

  .carousel-control-next {
    margin-right: 30px;
  }

  .about-more {
    width: 90%;
    margin: 20px auto;
    display: block;
  }
}

/* Conato; ------------------------------------------------------------------------------------------- */

#contato {
  overflow-x: hidden;
  background-color: #7a7a7a;
}

#contato p a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

#contato p {
  font-weight: bold;
}

#contato i {
  font-size: 20px;
}

.display-contato::after {
  content: "___Meios de Contato___";
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  display: block;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.s1 {
  border-right: 1px solid #fff;
  width: 300px;
  padding: 20px;
}

.s2 {
  width: 300px;
  padding: 20px;
}

/* Responsive Contato; */

@media screen and (max-width: 768px) {
  #contato {
    flex-direction: column;
    text-align: center;
  }

  .s1,
  .s2 {
    border: none;
    margin: auto;
  }

  .display-contato::after {
    font-size: 15px;
  }
}

/* Footer; ------------------------------------------------------------------------------------------- */

footer {
  margin-bottom: -20px;
  padding: 5px;
  overflow-x: hidden;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
